body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*
 *
 * Common
 *
 */

.news__more {
  float: right;
  font-size: .8em;
  color: #333;
}


/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 150px;  
  margin-right: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header__title {
  color: #2d3c49;
  display: inline-block;
  float: right;
  font-weight: 300;
  font-size: 4em;
  margin: 0.5em 0.25em;
}

.detail_title{
    font-size: 30px; 
    text-align: right;
}


/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/*
 *
 * Cover Page
 *
 */

.cover__page {
  width: 100%;
  position: relative;
  background-image: url("./images/huacho.jpg");
  background-size: cover;
  height: 600px;
}

.cover__page article {
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  color: #fff;
  padding: 1em;
}


/*
 *
 * Places's list
 *
 */

.places__list {
  padding: 1em;
}

.feature__work {
  color: #7d97ad;
  display: block;
  font-weight: 300;
  font-size: 1.9em;

}

.country_name{
 color: #2d3c49;   
 font-size: 1.9em;
 text-decoration: none;   
 
}

.place__desc {
  display: block;
  font-size: 1.2em;
}

.place__today {
  width: 60%;
  vertical-align: middle;
}

.place__today__image {
  vertical-align: middle
}

.place__today__temp {
  font-size: 3em;
}

.place__today__deg {
  font-size: 2em;
  display: inline;
}

.place__next__item {
  display: inline-block;
  width: 33.33%;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.place__next__item span {
  display: block;
}

.place__next__image {
  width: 80%;  

}
